.toggle-button{
    -fx-border-color:  #ffffff;
    -fx-background-color:  #a3d35f;
    -fx-border-width:  0 0 0 2;
    -fx-text-fill: white;
    -fx-focus-color : white;

}

.toggle-button:focused{
    -fx-background-color:  #7cb131;
    -fx-border-color: white;
    -fx-border-width:  0 0 0 2;
}