.button{
    -fx-border-style: none;
    -fx-border-radius: 0px;
    -fx-background-color: #7cb131;
}

.choice-box{
    -fx-border-style: none;
    -fx-border-radius: 0px;
    -fx-background-color: #7cb131;
}


#image{
    -fx-background-color: -fx-background ;
    -fx-background-insets: 0 ;
}